<h1 style="color:blue">Cifrado Eficiente</h1>

<form method="post">
    <label>Contenido a cifrar: </label>
    <input type="text" name="contenido" class="form-control" />
    <label>Resultado cifrado: </label>
    <textarea rows="5" name="resultado" class="form-control">@ViewData["TEXTOCIFRADO"]</textarea>
    <button class="btn btn-dark" name="accion" value="cifrar">
        Cifrar contenido
    </button>
    <button class="btn btn-warning" name="accion" value="comparar">
        Comparar cifrado
    </button>
</form>
<h3 style="color:red">@ViewData["SALT"]</h3>
<h2 style="color:blue">@ViewData["MENSAJE"]</h2>
<img src="https://elradioescucha.net/wp-content/uploads/2022/02/enigma.jpg"/>