<h1>Menú cifrado</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Cifrados"
        asp-action="CifradoBasico">
            Cifrado básico
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Cifrados"
           asp-action="CifradoEficiente">
            Cifrado Eficiente
        </a>
    </li>
</ul>