@model Coche

<h1>Details Ajax View</h1>

@if (Model == null)
{
    <h2 style="color:red">
        No existe el coche
    </h2>
}
else
{
    <div class="card" style="width: 18rem;">
        <img src="@Model.Imagen" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Marca @Model.Modelo</h5>
        </div>
    </div>
}