<h1>
    Subir ficheros Net Core
</h1>

<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero: </label>
    <input type="file" name="fichero" class="form-control"/>
    <button class="btn btn-info">
        Subir fichero
    </button>
</form>
<img src='~/uploads/@ViewData["FILENAME"]'/>
<h2 style="color:blue">
    @ViewData["MENSAJE"]
</h2>